/*
!.gitignore
!init.el
!/spartan-layers
!LICENSE
!README.org
!spartan-army-spear-royalty-free-spear.png
!spartan-theme.png
!spartanel_1.png
!spartanel_2.png
!spartanel_1_dark.png
!spartanel_2_dark.png
!spartanel_3_dark.png

!/straight
/straight/*
!/straight/versions
